@model Play_New.data.models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/log_in_to_the_site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="gradient-bg"></div>
        <img class="image-left" src="~/assets/images/image(1).png" />
        <img class="image-right" src="~/assets/images/image.png" />
        <div class="form-container">
            <form method="OnPostAsync">
            <div class="form-title">Вход на Play.New</div>
            <div class="input-container">
                <div class="input-title">Имя пользователя</div>
                <input type="text" class="input-box" placeholder="Username">
            </div>
            <div class="input-container">
                <div class="input-title">Пароль</div>
                <input type="password" class="input-box" placeholder="Password">
            </div>
            
            <div class="register-container">
                <button class="register-button">
                        <img class="register-img" src="~/assets/images/logo1.png" />
                </button>
            </div>
            </form>
        </div>
    </div>
@section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
</body>
</html>
